.subtitle {
  margin-top: -8px;
  color: #2E2E2E;
  font-size: 0.88rem;
}
.eutable .p-datatable-thead > tr > th {
  background-color: #D9E1EF;
  font-weight: 600;
  color: #003399;
}

.eutable .p-datatable-tbody > tr:nth-child(even) {
  background-color: #F1F5FC;
}
.eu-loader {
  width: 40px;
  height: 40px;
  border: 4px solid #003399;
  border-top-color: #FFD100;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
  margin-top: 2rem;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}
